[Desktop Entry]
Name=mmpkginstorg
Name[jp]=mmパッケージインストーラ
Comment=萌え化インストール
Exec=bash ./mm_pkginstorg.sh
Terminal=false
Type=Application
Icon=video-display
StartupNotify=true
Categories=System;Settings;
Name[ja_JP.eucJP]=mmpkginstorg
